/* Reset rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* header */
header{
    padding: 20px;
    border-bottom: 1px solid black;
}
/* Logo line */
.logo{
    display: flex;
    padding: 18px;
}
.logo > img{
    margin-right: 15px;
}
/* /Logo line */

/* Navbar */
.navlink{
    color: black;
    text-decoration: none;
    padding: 18px;
}
.active{
    color: cornflowerblue;
    border-bottom: 4px solid cornflowerblue;
}
/* /Navbar */

/* Container */
.container{
    width: 70%;
    padding: 30px;
    margin: auto;
}

.container>h2{
    font-size: 25px;
    margin-top: 35px;
}
.container>p{
    margin: 20px 0;

}
/* /Container */
